body {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.flex-grow {
  flex-grow: 1;
  min-height: 0;
  height: 100%;
}

.fill-height {
  height: 100%
}

.no-padding {
  padding: 0;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;
}

.main {
  overflow-y: scroll;
}

.result {
  transition: border-color 75ms;
}

.result:hover {
  border-color: #6c757d;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
